/*   Variables   */

:root {
    --generator-font-color: #36454F;
    --generator-backgr-color: #FBFBFB;
    --generator-border-color: #A0A0A0;
    --submit-btn-backgr-color: #00A676;
    --preview-backgr-color: #eaeaea;
    --list-item-color: #7600a6;
    --preview-primary-element-color: #00457E;
    --preview-backgr-color: #eaeaea;
    --preview-list-item-color: #4d4d4d;
    --overlay-button-backgr-color: #9a00d7;

}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.page-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;
}

header {
    align-self: center;
}

.calculator-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.form-section {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1.5rem;
}

.field-label {
    position: absolute;
    transform: translate(1rem , -50%);
    background-color: white;
    padding: 2px 5px;
    
    
}

.text-input {
    padding: 1rem;
    border-radius: 5px;
    border: solid 1px black;
    
}

.bullet-field {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


.button-field {
    align-self: center;
}


.general-list-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--list-item-color);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;

}

.general-list-item > p {
    font-size: .8rem;
}

.list-button-container {
    display: flex;
    gap: 0.25rem;
}

.list-item-button {
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.list-button-image {
    width: 12px;
    height: auto;
}


