/*   Variables   */

:root {
    
    
    --list-item-color: #7600a6;
    --background-clr: #B6Eb96;
    --primary-clr: #DC3A70;
    --secondary-clr: #1686CD;
   

}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-clr);
    
    
    
}

li {
    list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.page-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0rem;
    background-color: var(--background-clr);
}

header {
    align-self: center;
}

fieldset {
    border: 4px solid var(--secondary-clr);
}

.calculator-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}

.form-section {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 1.5rem;
}

.form-header , .field-label , h1{
    font-weight: bold;
    color: var(--secondary-clr);
}

.field-label {
    position: absolute;
    transform: translate(1rem , -50%);
    background-color: var(--background-clr);
    padding: 0rem .25rem;
    
}

legend {
    padding: 0rem .4rem;
}

input:focus {
    outline: none;
}

.text-input {
    padding: 1rem;
    border-radius: 5px;
    border: solid 2.25px var(--secondary-clr);
    background-color: var(--background-clr);
    font-weight: bold;
    
}

.bullet-field {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


.button-field {
    align-self: center;
}


.general-list-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--list-item-color);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    gap: 1rem;
    box-sizing: border-box;
    align-items: center;

}

.general-list-item > p {
    font-size: .8rem;
}

.list-button-container {
    display: flex;
    gap: 0.25rem;
}

.list-item-button {
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submit-btn {
    background-color: var(--secondary-clr);
    color: var(--background-clr);
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}

.submit-btn:hover {
    
}

.list-button-image {
    width: 12px;
    height: auto;
}


